.episode {
  width: 100%;
  height: calc(100% - 0.5rem);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10rem auto;

  .thumbnail {
    width: 100%;
    height: 100%;
//     cursor: pointer;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    transition: 0.1s;
    background: rgba(107, 107, 107, 0.333);
    border: 2px solid transparent;
    transition: 0.1s;
    border-radius: 12px;
//     &:hover {
//       border: 2px solid rgb(255, 255, 255);
//       background: black;
//       transition: 0.1s;
//       .item_poster {
//         opacity: 1;
//       }
//     }
    .container_thumbnail_img {
      width: 100%;
      height: 100%;
      border: 2px solid transparent;
      border-radius: 10px;
      overflow: hidden;
      .thumbnail_img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .episode_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 0rem;

    .episode_title {
      color: #ffffff;
      font-weight: 700;
      font-size: 1rem;
      margin-top: 0.5rem;
      line-height: 1rem;

      position: relative;
      padding-right: 2rem;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .episode_metadata {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 1.25rem;
      .item {
        font-size: 1rem;
        color: #c1c1c1;
        font-weight: 500;
      }
    }
  }
}
